<% i = 1 %>
		<div class="flex-parent d-flex flex-wrap justify-content-around">
		<% Gossip.all.each do |current_gossip| %>
		<div class="card" style="width: 45rem;">
			<div class="card-header">Gossip n°<%=current_gossip.id%></div>

			<div class="card-body">
				<h5 class="card-title text-muted">Posté par <a href="<%= user_path(current_gossip.user.id) %>"><%=current_gossip.user.first_name%> <%=current_gossip.user.last_name%></a></h5>
				<p class="card-text"><%current_gossip.content%></p>
				<div class="text-center">
					<a href="<%= gossip_path(current_gossip.id) %>" class="btn btn-primary">Voir le gossip</a>
				</div>
			</div>

		</div>
		<%puts "i=#{i}"%>
		<% if i==5 %>
		<% i = 1 %>
		<% end %>
		<% i += 1 %>
		<% end %>
</div>