<!-- <h1>Profil n°<%= @user.id %></h1>
<p>
	<%= @user.first_name %><br />
	<%= @user.last_name%><br />
	<%= @user.age%><br />
	<%= @user.email%><br />
	<%= @user.created_at%><br />
	<%= @user.updated_at%><br />


</p> -->
<div class="global">
	<div class="user-info">
			<p class="name"><%= @user.first_name %> <%= @user.last_name %></p>
			<p class="created_at">Inscrit depuis le : <%= @user.created_at.to_s.split(" ")[0...-1].join(" ") %></p>
		</div>
	</div>
	<div class="gossips">
		<div class="presentation">
			<p>Les gossips de <%= @user.first_name %></p>
		</div>
		<% @user.gossips.each do |current_gossip| %>
		<div class="gossip">
			<p>Title : <%= current_gossip.title %></p>
			<p>Content : <%= current_gossip.content %></p>
		</div>
		<% end %>
	</div>
</div>